.Ad{
    .Ad_item{
        width: 100%;
        height: 240px;
        box-sizing: border-box;
        background: url('//img.tukuppt.com/ad_preview/00/24/06/5c9a6984f1212.jpg!/fw/780') no-repeat center / cover;
    }
}